.Lo-content{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: url(../image/login_newbg.jpg) center top no-repeat;);
}
.Lo-content img{
	vertical-align: top;
}
.wrapper{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.wrapper-info {
	position: absolute;
	overflow: hidden;
	width: 1000px;
	left: 0;
	top: 189px;
}
.wrapper-info img{
	display: block;
	width: 100px;
	margin: 0 auto;
}
.wrapper-info p{
	text-align: center;
	font-size: 28px;
	color: #4a6f94;
	line-height: 68px;
	font-family: "Microsoft YaHei";
}
.logoBox{
	position: relative;
	width: 580px;
	height: 330px;
	padding-top: 70px;
	margin: 0 auto;
	margin-bottom: 20px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #caddde;
	border-radius: 12px;
	box-shadow: 0 5px 18px 0 rgba( 61, 69, 77, .3);
}

.logoBox div{
	width:480px;
	margin:0 auto;
	font-family: "Microsoft YaHei";
	font-size: 24px;
	color:#5e6d7c;
}
.logoBox .default_msg{
	position: absolute;
	top: 30px;
	left: 50px;
	height:40px;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	color: rgb( 255, 102, 102 );
	text-align: center;
	background-color: #ffe5e5;
	line-height: 40px;
}
.logoBox .form_msg{
	height:60px;
	line-height: 60px;
	color:#5e6d7c;
}
.logoBox .form_msg label{
	display:inline-block;
	width: 76px;
	padding-right: 16px;
}
.logoBox .form_msg input{
	width:350px;
	height: 59px;
	line-height: 60px;
	font-size: 24px;
	color: #5e6d7c;
	font-family: "Microsoft YaHei";
}
.logoBox .form_msg span{
	width:25px;
	height:25px;
	float: right;
	margin-top: 18px;
	cursor: pointer;
	background: url("../image/delete.png");
}
.logoBox .bor_btm{
	width: 522px;
	border-bottom: 1px solid #d4dae0;
}
.logoBox .bor_btm>div{
	width: 482px;
	margin: 0 auto;
	border-bottom: 1px solid #a2c0d7;
}
.logoBox .login{
	height: 60px;
	padding-top:25px;
	padding-bottom:12px;
}
.logoBox .login .login_btn{
	width: 100%;
	height: 60px;
	background-color: #d6ebff;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-family: "Microsoft YaHei";
	cursor: pointer;
}
.logoBox .pwd_deal{
	width: 140px;
	height: 50px;
	margin-left:0;
}
.logoBox .pwd_deal p{
	width: 96px;
	height: 50px;
	float: left;
	line-height: 50px;
	color:#5e6d7c;
	font-size: 24px;
	text-align: left;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #5e6d7c;
}
.logoBox .login .noAcess {
	background: #d6ebff;
}
.logoBox .login .acess{
	background: #81baf0;
}